@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');


html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.navbar-brand {
  padding: 55px;
}

.container-fluid {
  border-top: 5px solid #141c3a;
  border-bottom: 1px solid rgb(221, 221, 221);
  background-color: #ffffff;
  height: 90px;
  margin-bottom: 40px;
}

body {
  background-color: #f1f3fe;
  background-image: url('images/bg.png');
  background-size: cover;
  background-attachment: fixed;
}

.accordion {
  margin: 5% 20% 5% 20%;
  border: 1px solid darkgrey;
  background-color: white;
  border-radius: 5px;
}

.title {
  font-family: Raleway;
  font-size: 1.5rem;
}

.container {
  margin-left: 25%;
  margin-right: 25%;
  width: 48%;
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 35px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.center {
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

.subject {
  text-align: center;
  font-family: Open Sans;
  font-size: 1.5rem;
  margin-top: 26px;
}